.image {
  margin-top: 120px;
}

.image .number {
  width: 60px;
  height: 60px;
  background-color: rgb(196, 38, 120);
  border-radius: 50%;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 3px 5px black;
}

.image .number h4 {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  color: white;
}

.image .imgcont {
  width: calc(100%);
  height: 500px;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin: -30px auto;
}
@media screen and (min-width:800px) {
  .image .imgcont {
    margin: 10px auto;
  }
}

.image .imgcont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-radius: 20px;
}

.image .buttoncon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.image .buttoncon button {
  display: inline-block;
  margin: 20px;
  width: 200px;
  height: 50px;
  font-size: 2px;
  background-color: transparent;
  border:0px white;
  outline:0px;
  box-shadow: 2px 3px 5px black;
}

@media screen and (max-width:500px) {
  .image .buttoncon button {
    width: 120px;
  }

}

.image .buttoncon button:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.image .buttoncon button:last-child {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  right: 0px;
}

button:focus {
  outline: 0px;
}
 .preview{
   /* width: 9000px; */
   display: grid;
   grid-template-columns:  auto auto auto auto auto auto auto auto auto auto auto auto
    auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
     auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
      auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
       auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
        auto auto auto auto auto auto auto;

  grid-column-gap: -2000px;

 }
 .preview{
   overflow-x: scroll;
   width: 100%;
   grid-column-gap: -2000px;
 }
  .preview img:first-child{
    display: none;
  }
 @media screen and (max-width:700px) {
   .preview{
     overflow-x: scroll;
     width: 100%;
   }
 }
.preview img {
  float: left;
  width: 200px;
  height: 120px;
  grid-column-gap: -2000px;
  object-fit: cover;
}

.material-icons {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.buttoncon button i{
  font-size: 40px;
}
#send {
  transform: rotateY(180deg);
}

.animate__bounce,
.animate__flip {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
  /* don't forget to set a duration! */
}

.animate__lightSpeedInRight {
  animation-duration: 3s;
}
.animate__rubberBand{
  animation-duration: 1.8s;
}
.download {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.download  button{
  height: 40px;
  border-radius: 20px;

}
